body {
    font-family: 'Inconsolata', monospace;
    background-color: #AED4E6;
    color: #5C1A1B;
    line-height: 22px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.ui-loader {
    display: none;
}

h2 {
    color: #b54458;
    font-weight: bolder;
}

header {
    position: relative;
    background-position: 20% 50%;
    background-repeat: no-repeat;
}

#bigPhoto {
    height: 422px;
    width: auto;
    overflow: hidden;
    background: url('photo-banner.jpg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position: 30%;
    grid-area: photo;
}

#nameIntro {
    display: block;
    font-size: larger;
}

#banner-pic {
    min-width: 100%;
    height: 450px;
}

/* #header-text {
    padding-top: 70%;
    padding-bottom: 10px;
} */

#hamburger {
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

#nav-text {
    padding: 0 5px 5px;
    margin-block-start: 0;
    display: none;
    position: absolute;
    text-align: left;
    background-color: #AF7595;
    margin-top: 25px;
    top: 10px;
    /* border: black 1px solid; */
    border-top: none;
}

#swipeAlert {
    display: none;
}

.overlay {
    display: none;
}

@media only screen and (max-width:480px) {
    #swipeAlert {
        padding: 2px;
        margin-top: 5px;
        display: block;
        background-color: lightgray;
    }
    #closeAlert {
        height: 20px;
        display: inline-block;
        padding: 0;
        border: 1px solid rgb(245, 131, 150);
        border-radius: 2px;
        font: inherit;
        color: inherit;
        background-color: transparent;
        margin-left: 10px;
        box-shadow: 2px 2px 2px black;
        line-height: 50%;
    }
}

input {
    visibility: hidden;
}

label {
    display: block;
    text-align: left;
    margin-left: 10px;
    line-height: 10px;
}

label:hover {
    cursor: pointer;
    filter: invert(100%);
}

#stage {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

nav {
    background-color: #AF7595;
    padding: 5px;
    min-height: 25px;
    position: relative;
    font-size: 15px;
    z-index: 1000;
}

label input[type="radio"]:checked~.radio-text, .ui-state-disabled {
    text-decoration: line-through;
    filter: invert(100%);
}

.nav-link, .ui-radio {
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    width: fit-content;
    text-align: center;
}

.nav-link:hover {
    cursor: pointer;
    color: black;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.displayed {
    position: relative;
}

.body-text {
    padding: 0px 40px;
    color: #5C1A1B;
}

.work-photo {
    border: 1px solid black;
    height: 300px;
    box-shadow: 7px 2px 15px black;
}

.content {
    height: 422px;
    background-size: cover;
    background-position-x: center;
}

#contact-info {
    top: 90%;
    padding-bottom: 10px;
    background-color: #AF7595;
    margin-top: -21px;
}

.contact-img {
    height: 50px;
    width: 50px;
}

@media screen and (min-width:500px) {
    .overlay {
        display: inherit;
    }
    header {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-areas: "text photo";
    }
    #first-name {
        color: rgb(153, 81, 81);
    }
    #bio {
        font-size: 30px;
        line-height: 40px;
    }
    #bigPhoto {
        height: 422px;
        width: auto;
        overflow: hidden;
        background: url('photo-banner.jpg');
        background-repeat: no-repeat;
        background-position-x: left;
        background-position: 30%;
        grid-area: photo;
    }
    #header-text {
        background-color: #AED4E6;
        border: 1px solid black;
        padding: 10px;
        height: auto;
        width: 100%;
        position: relative;
        grid-area: text;
    }
    #hamburger {
        display: none;
    }
    #nav-text {
        display: grid;
        grid-template-areas: "about work more";
        position: relative;
        border: none;
        top: 0px;
        margin-top: 0px;
        background-color: #AF7595;
    }
    label {
        text-align: center;
        vertical-align: middle;
        margin-top: -5px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    #bioRad {
        grid-area: about;
    }
    #workRad {
        grid-area: work;
    }
    #moreRad {
        grid-area: more;
    }
    h1 {
        line-height: 40px;
    }
    h2 {
        margin-block-end: 0;
    }
    main {
        text-align: center;
        display: inline-block;
    }
    p {
        margin: 30px 50px;
    }
    .work-photo {
        height: 450px;
    }
    .work-photo:hover {
        background-image: url("quiz-app.gif");
        background-repeat: no-repeat;
        opacity: 100%;
    }
    .content {
        width: inherit;
        height: 400px;
        background-repeat: no-repeat;
        margin: 20px;
        background-size: cover;
        box-shadow: 7px 2px 15px black;
    }
    .overlay {
        width: inherit;
        height: inherit;
        opacity: 0;
        color: #AED4E6;
    }
    .overlay:hover {
        display: inherit;
        background: linear-gradient(to top, transparent, 70%, black);
        cursor: pointer;
        opacity: 100;
    }
}

/* @media screen and (min-width:830px) {
    main {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-areas: "text photo";
        text-align: center;
    }
    #banner-pic {
        max-width: 100%;
        max-height: 100%;
        background: url('photo-banner-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1, h2, h3, h4 {
        font-family: 'Karla', sans-serif;
    }
    h1 {
        font-size: 5rem;
        line-height: 40px;
        margin-right: 50%;
    }
    h2 {
        position: absolute;
        bottom: 0;
    }
    h3 {
        text-decoration: underline;
    }
    #bio {
        margin-right: 40%;
    }
    article {
        padding: 10px;
        border: #17255a 1px solid;
        margin: 5px;
    }
    p {
        font-size: 20px;
    }
    .contact-footer {
        padding-bottom: 40px;
        margin-left: 40px;
    }
    a {
        color: #7F1024;
    }
} */