body {
    font-family: 'Inconsolata', monospace;
    background-color: #fceade;
    color: rgb(245, 131, 150);
    line-height: 22px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

header {
    position: relative;
    background-image: url('photo-banner.jpg');
    background-position: 20% 50%;
    background-repeat: no-repeat;
}

#banner-pic {
    min-width: 100%;
    height: 450px;
}

#header-text {
    text-shadow: 2px 2px #000000;
    padding-top: 70%;
    padding-bottom: 10px;
}

#hamburger {
    height: 20px;
    margin-top: 5px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

#hamburger:hover {
    cursor: pointer;
}

#nav-text {
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    display: none;
}

input {
    visibility: hidden;
}

label {
    display: block;
    text-align: left;
    margin-left: 15px;
}

label:hover {
    cursor: pointer;
    filter: invert(100%);
}

/* input:selected+label {
    text-decoration: line-through;
    filter: invert(100%);
} */

#nav-text {
    text-align: left;
    /* list-style: none; */
}

#stage {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* .displayed {
    position: relative;
} */

/* #nav-text li {
    display: block;
} */

nav {
    background-color: #9ca8d3;
    border: 1px solid black;
    padding: 5px;
    min-height: 25px;
    position: relative;
    font-size: 15px;
}

input[type="radio"]:checked+label {
    text-decoration: line-through;
    filter: invert(100%);
}

.nav-link {
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    width: fit-content;
    margin-top: 15px;
}

.nav-link:hover {
    cursor: pointer;
    color: black;
}

ul {
    list-style-type: none;
}

.displayed {
    padding: 20px;
    position: relative;
}

.body-text {
    padding: 40px;
}

.work-photo {
    border: 1px solid black;
    height: 300px;
    box-shadow: 7px 2px 15px black;
}

.food {
    border: 1px solid black;
    height: 300px;
    box-shadow: 7px 2px 15px black;
}

#contact-info {
    top: 90%;
    margin-bottom: 10px;
}

.contact-img {
    height: 50px;
    width: 50px;
}

/* @media screen and (min-width:520px) {
    body {
        text-align: left;
    }
    header {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-areas: "text photo";
    }
    #first-name {
        color: rgb(153, 81, 81);
    }
    #banner-pic {
        height: 422px;
        width: auto;
        overflow: hidden;
        background: url('photo-banner.jpg');
        background-repeat: no-repeat;
        background-position-x: left;
        background-position: 33%;
        grid-area: photo;
    }
    #header-text {
        background-color: #fceade;
        border: 1px solid black;
        padding: 10px;
        height: auto;
        width: 100%;
        position: relative;
        grid-area: text;
    }
    #bio {
        margin: 0px 10px;
    }
    h1 {
        font-size: 5rem;
        line-height: 40px;
    }
    h2 {
        position: absolute;
        bottom: 0;
    }
    main {
        text-align: center;
        display: inline-block;
    }
    p {
        margin: 0px 30px;
    }
} */

/* @media screen and (min-width:830px) {
    main {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-areas: "text photo";
        text-align: center;
    }
    #banner-pic {
        max-width: 100%;
        max-height: 100%;
        background: url('photo-banner-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1, h2, h3, h4 {
        font-family: 'Karla', sans-serif;
    }
    h1 {
        font-size: 5rem;
        line-height: 40px;
        margin-right: 50%;
    }
    h2 {
        position: absolute;
        bottom: 0;
    }
    h3 {
        text-decoration: underline;
    }
    #bio {
        margin-right: 40%;
    }
    article {
        padding: 10px;
        border: #17255a 1px solid;
        margin: 5px;
    }
    p {
        font-size: 20px;
    }
    .contact-footer {
        padding-bottom: 40px;
        margin-left: 40px;
    }
    a {
        color: #7F1024;
    }
} */