@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e1f20;
    color: white;
    margin: 0;
    display: table;
    font-size: 20px;
}

header {
    margin: 10px;
}

#headText {
    text-align: left;
}

#myNav {
    font-family: 'Oswald', sans-serif;
}

.headIntro {
    font-style: italic;
    font-family: 'Arvo', serif;
    font-size: 7vw;
    font-weight: 100;
}

.orangeText {
    color: #FF6600;
}

.headOutro {
    margin-right: 9vw;
    font-size: 3.5vw;
}

.topContact {
    position: absolute;
    top: 60px;
    right: 50px;
    grid-gap: 10px;
    font-size: x-large;
    display: none;
}

.displayed {
    text-align: center;
}

#mePic {
    width: 85%;
    box-shadow: -20px -20px #FF6600;
}

.body-text {
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

a:hover {
    color: #FF6600;
}

#display3>h2 {
    text-align: right;
}

#navText {
    display: none;
}

.nav-link {
    position: absolute;
}

#nav-text>label {
    margin: 5px;
}

#navText>label:hover {
    cursor: pointer;
}

.radArrow {
    color: #FF6600;
    margin-left: 20px;
    padding-top: 30px;
    display: inline-block;
}

#stage {
    margin: 10px 30px;
}

.navRad {
    opacity: 0;
    position: absolute;
}

#hamburger {
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    display: block;
    left: 0;
    top: 0;
}

.navRad:checked+.radArrow {
    transform: rotate(180deg);
    color: aqua;
}

#contact-info {
    padding-bottom: 10px;
    color: #FF6600;
    width: 100%;
    text-align: center;
}

.listWrap {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.listWrap>li {
    flex-grow: 1;
    width: 33%;
    margin: 10px;
}

.ital {
    font-style: italic;
}

.resWrap {
    margin: 10px;
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

#footImages {
    display: flex;
    justify-content: space-evenly;
}

.contact-img {
    height: 50px;
    width: 50px;
}

.content {
    height: 422px;
    background-size: cover;
    background-position-x: center;
}

@media screen and (min-width:768px) {
    header {
        margin: 10px 20% 10px 10px;
    }
    #navText {
        display: inline-grid;
        grid-auto-flow: column;
        grid-gap: 10px 40px;
        font-size: 30px;
    }
    #menuAlert {
        display: none;
    }
    .headIntro {
        font-size: 2.5rem;
    }
    .headOutro {
        font-size: 25px;
    }
    #contact-info {
        display: none;
    }
    .topContact {
        display: grid;
    }
    body {
        padding: 25px;
    }
    #stage {
        margin: 10px 20% 10px 0;
    }
}

@media screen and (min-width:885px) {
    header {
        margin-right: 38%;
    }
    .work {
        display: flex;
    }
    .work-photo {
        flex: 2;
    }
    .work-sum {
        flex: 1;
        margin: 15px;
        font-size: 1.4rem;
    }
    .evenWork {
        flex-direction: row-reverse;
    }
    .body-text {
        font-size: 1.4rem;
    }
}

@media screen and (min-width:1166px) {}